<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="app.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />

                <rule name="Bootstrap file redirection" stopProcessing="true">
                  <match url="^app\.php(/(.*)|$)" ignoreCase="false" />
                  <action type="Redirect" redirectType="Permanent" url="/{R:2}" />
                </rule>
                <rule name="Static files" stopProcessing="true">
                  <match url=".?" ignoreCase="false" />
                  <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                  </conditions>
                  <action type="None" />
                </rule>
                <rule name="Bootstrap" stopProcessing="true">
                  <match url=".?" ignoreCase="false" />
                  <action type="Rewrite" url="/app.php" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>